.main{
    position: absolute;
    left: 40%;
    right: 40%;
    top:15%;
    box-shadow: 0 0 3px 3px grey;
    border-radius: 20px;

}
.inputs {
    border: 0px;
    padding: 15px;
    margin: 5px;
    resize:none;
    overflow: hidden;
}
.button {
    position: absolute;
    left:93%;
    top:90%;
    border: 0px;
   }
.grid-container {
    margin-top: 250px;
  }
  .grid-item{
    padding: 10px;
    font-size: 15px;
    height: 150px;
    width: 250px;
    margin: 10px;
    box-shadow: 0 0 3px 3px grey;
    border-radius: 20px;
    float: left;
    
  }
  .grid-item :first-child{
    align-self: center;
  }
  li{
    list-style:none;
   
  }

  textarea:focus, input:focus{
    outline: none;
}